@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.nav-links {
  display: flex;
}

.nav-link {
  text-decoration: none;
}

.nav-itemp {
  list-style: none;
  margin-right: 15px;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.header-bg {
  background-color: rgba(255, 144, 14, 0.1);
}

.display-flex {
  display: flex;
}

.dark-02 {
  color: #727272;
}

.dark-03 {
  color: #424242;
}

/*   Banner Relate dStyle  */

.banner-title {
  text-align: center;
  font-weight: 700;
  font-size: 65px;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 13px;
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 20px 25px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: semi-bold;
}

.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banImg {
  margin: 0 auto;
  width: 100%;
}

.banner-image {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 120px;
}
/*   Team and Features Style */
.teams {
  align-items: center;
  margin-top: 30px;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 130px;
}

#fet {
  border-left: 5px solid springgreen;
  padding-left: 20px;
}

/*  responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: 1fr;
    width: 240px;
    height: 240px;
  }
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact {
  border: 12px solid #dc7a1f;
  width: 240px;
  height: 240px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
}

.sponsore-info {
  max-width: 540px;
  text-align: center;
  margin: 50px auto;
}
.sponsore-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 30px;
}

.sponsore-company img {
  filter: grayscale(100%);
}

/*   Medium size device */
@media screen and (min-width: 557px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }

  .team-img-container,
  .facts-container,
  .sponsore-company {
    grid-template-columns: 1fr;
  }
}
